.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
#button {
  background-color:#2D379D;
  color:#E95400;
  border-radius:0.5;
  text-align:center;
  
}
#buttonPos {
  text-align:right;
  margin-left:50px;
  
}
#security {
  text-align:center;
  right:5px;
  margin-left:auto;
  margin-right:0;
  justify-items:right;
  width:300px;
  border-color:black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
